@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    background-color: #565656;
    font-family: "Cinzel", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    width: 100%;

    background-color: white;
    padding: 1em 0em;
    margin: -8px -8px 0px -8px;

}

.TopNavbar {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    position: relative;
}

.HomeButton {
    width: 100%;
    font-size: larger;
    font-weight: 700;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
}

.HomeButton:hover {
    color: white;
    transition: all 0.2s;
}

.HomeButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    left: 0px;

    height: 3em;
    width: 6em;
    background-color: #00000022;
    transition: all 0.2s;
    margin-left: 1em;

}

.HomeButtonContainer:hover {
    background-color: #00000066;
    transition: all 0.2s;
}

.Title-text {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid blueviolet;
}

.BottomNavbar {
    background-color: #00000022;
    display: flex;
    justify-content: right;
    margin: 0px 1em;
    transition: all 0.2s;
}

.BottomNavbar:hover {
    background-color: #00000044;
    transition: all 0.2s;
}

.NavLink {
    text-align: center;
    color: black;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px 0px 2px 0px;
    margin: 0px 1em;
    border-bottom: 2px solid gray;
    transition: border 0.4s;
    width: 10em;
    transition: all 0.2s;
}

.NavLink:hover {
    background-color: #ffffff66;
    border-color: palevioletred;
    transition: all 0.2s;
}

.CapitalImage {
    height: 24em;
    width: auto;
    background-image: url(Capital-Image-sfound.svg);
    background-size: cover;

    margin: 0px -8px;
}

.CapitalText {
    margin-top: 8px;

    background-color: white;
    padding: 10px 0px;
    text-transform: uppercase;
    color: gray;
    font-weight: 700;
    font-size: 4em;


}

.SubPage-Title-text {
    text-transform: uppercase;
    font-size: 2em;
    border-bottom: 2px solid palevioletred;
}

.ContentContainer {
    margin-top: -2em;
    margin-left: -8px;
    margin-right: -8px;

    background-color: white;

    height: 100%;

}

.BottomContentContainer {
    display: flex;
    justify-content: center;
}

.SingleContentContainer {
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.BottomHomeImage {
    width: 100%;
}

.ImageCarouselContainer {
    display: flex;
    justify-content: center;
}

.ImageCarouselLink {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 22em;
    height: 30em;
    background-color: #565656;
    transition: all 0.4s;
    margin: 0px 2em;
    display: flex;
    justify-content: center;
}

.ImageCarouselLink:hover {

}

.ImageLink {
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    line-height: 15em;
    color: #ffffff00;
    width: 22em;
    height: 15em;
    transition: all 0.4s;
}

.ImageLink:hover {
    background-color: #00000044;
    color: white;
    transition: all 0.2s;
}

#Separator {
    height: 2em;
}